.App {
    text-align: center;
    height: 100%;
    width: 100%;
  }
  
  .app-label{
    width: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: white;
    pointer-events: none;
  }
  
  .map-container{
    height: calc(100vh - 55px);
    width: 100%;
  }
  
  .clicked-coord-label{
    position: absolute;
    right: 300px;
    bottom: 0;
    background: white;
    border-radius: 5px;
  }
  
  .clicked-coord-label p {
    margin: 10px;
  }