.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.app-label {
  width: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: white;
  pointer-events: none;
}

.map-container {
  height: 100%;
}

.clicked-coord-label {
  position: absolute;
  right: 300px;
  bottom: 0;
  background: white;
  border-radius: 5px;
}

.clicked-coord-label p {
  margin: 10px;
}
.overlay-container {
  background-color: blue;
  color: white;
  padding: 10px;
  font-size: 20px;
}
.overlay-container p {
  margin-bottom: 10px;
}
.overlay-container button {
  font-size: 16px;
  padding: 2px 24px;
  background: white;
  color: blue;
  border-color: white;
}
.rotate-north {
  top: 4em;
  left: 0.5em;
}
.rotate-north button {
  padding: 2px;
}
